/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


.DS_Store
*.log

.idea
.env.backup
.ftpquota
composer.lock
/storage/app/public/images
/storage/app/public/exports
.dockerignore
